[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phonTools"]
	path = phonTools
	url = https://github.com/santiagobarreda/phontools
